SUPABASE_URL = https://zoopytoltfaomqhvnjmd.supabase.co
SUPABASE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpvb3B5dG9sdGZhb21xaHZuam1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDM1ODYsImV4cCI6MjA4ODc3OTU4Nn0.TGyflFBAD1UtUNmi7piHG3L4p9nvFZH6SveJPk-Kh9c